ul { list-style: none; display: inline-flex;}
a {text-decoration: none;}
footer {background-color:#372e29;}
header {background-color:#372e29;; text-align: right;}

nav>ul>li:hover {font-size: x-large; color: cyan;border-radius: 30px; background-color: coral; margin: 30px; padding: 10px; justify-content: center;}
nav>ul>li {margin: 12px;}

section>ul>li>a:hover {font-size:large; color: cornsilk;}
section>ul>li>a {display: flexbox; color: black; text-align: center;border-radius: 30px; background-color: coral; margin: 30px; padding: 10px; justify-content: center;}

#tabContenido div {
    display: inline-block;
    position: absolute; 
    width: 60%; 
    padding: 3px 5px;
    background-color: cyan;
    border-radius: 0px 0px 10px 10px;
   }

   #tabContenido div:not(:nth-child(1)) {display: none;}
   #tabContenido div:target {display: inline-block; background-color: darkorchid;}

   #detalleInfo table {
    width: 80%;
    align-self: center;
    background: rgb(182, 179, 179);
   }

   .botones { border-radius: 30px; color: coral; margin: 30px; padding: 10px;}

   #detalleInfo {
       display: flex;
       flex-direction: row;
       justify-content: center;
       margin-top: 5%;
   }
   
   #detalleInfo table{
       background: red;
       padding: 5px;
   }
   #detalleInfo table tr:nth-child(even){
    background-color: rgba(238, 145, 184, 0.863);
   }

   #detalleInfo table tr:nth-child(odd){
    background-color: rgb(197, 196, 184);
   }

   footer>ul {color: #ecb939; justify-content: center; list-style: none; display: inline-flex; padding: 5px; width: 100%;}
   footer>ul>li {margin-left: 35px;}